.fs-44 {
    font-size: 44px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-12 {
    font-size: 12px;
}

.mt-6{
    margin-top: 6rem!important
}

.mb-6{
    margin-bottom: 6rem!important
}

.text-right {
    text-align: right;
}

.bg-pink {
    background-color: #FDF8F8;
}

.absolute {
    position: absolute;
}

.right-12 {
    right: 12px;
}

.pl-0 {
    padding-left: 0 !important;
}

.w-630 {
    width: 630px !important;
}

.w-558 {
    width: 558px !important;
}

.w-40p {
    width: 40% !important;
}

.unstyled {
    list-style: none !important;
}

@media (max-width: 991px) {
    .mobile-d-none {
        display: none !important;
    }

    #cours-last-row {
        margin-top: 0 !important;
    }
}

@media (min-width: 991px) {
    .mobile-appear {
        display: none !important;
    }
}

/* Accueil */
section#home-banner {
    background-color: #e7cfcf;
}

section#home-banner img {
    width: 300px;
}

section#creations {
    background-color: #f7e5e54d;
}

section#contact .contact-title {
    font-size: 56px ;
    font-weight: 500 ;
}

.owl-wrapper {
    display: flex !important;
}

@media (max-width: 1000px) {
    .owl-wrapper {
        display: flex !important;
        flex-direction: column;
        margin-top: 30%;
    }

    .owl-wrapper .owl-item.active {
        margin-left: 10%;
    }

    .owl-wrapper img.first {
        margin-bottom: 20px;
    }
}

/* Cours de couture */
section#banner img {
    width: 1290px;
    height: auto;
}

@media (max-width: 1199px) {
    .col-lg-7.col-xl-6.offset-xl-1-right.d-flex.align-items-center {
    margin-right: 0 !important;
    }
}

@media (max-width: 991px) {
    .mobile-reverse {
        flex-direction: column-reverse;
    }
}

/* retouches */
section#retouches-banner {
    background-color: #F7E7E74D;
}

section#retouches-sect-2 img {
    width: 558px;
    height: auto;
}

section#retouches {
    background-color: #F7E7E74D;
}

.features-2-item.pt-sm-40.pb-sm-40 {
    width: 100%;
}

@media (max-width: 991px) {
    .col-md-8.col-lg-8.title {
        width: 100%;
    }
}

/* creations */
section#creation-banner {
    max-height: 620px;
    background-color: #e7cfcf;
}

@media (max-width:991px) {
    section#creation-banner {
        margin-bottom: 300px;
    }

    .col-md-6.d-flex.align-items-center.mb-sm-60 {
        margin-bottom: -80px !important;
    }
}

section#creations-sect-2 img {
    width: 453px;
    height: auto;
}

section#creation-sect-3 img {
    height: auto;
}

section#creation-separator {
    height: 232px;
    /* background-image: url('../images/home/motifs-bg.jpeg'); */
    background-color: #ecdada;
}

section#last img {
    height: auto;
}

/* Atelier zero dechet */
section#atelier-banner {
    background-color: #f8f0f0;
    max-height: 963px;

} 

/* @media (min-width: 700px) {
    section#atelier-banner {
        margin-bottom: 20vh;
    }
} */

section#atelier-sect-3 img {
    height: auto;
}

section#atelier-last img {
    height: auto;
}

section#atelier-last img.first {
    margin-bottom: 20px;
}

/* mercerie */
section#mercerie-sect-3 img {
    height: auto;
}

section#mercerie-sect-4 {
    background-color: #F7E7E74D;
}

section#mercerie-list ul.list {
    color: var(--color-gray-1);
}

section#mercerie-list img {
    width: 650px;
    height: auto;
}

@media (max-width: 991px) {
    img.img-mb {
        margin-bottom: 30px;
    }

    div.end-text {
        margin-top: 0 !important;
        width: 100%;
    }
}

