.fs-44 {
    font-size: 44px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-12 {
    font-size: 12px;
}

.mt-6{
    margin-top: 6rem!important
}

.mb-6{
    margin-bottom: 6rem!important
}

.text-right {
    text-align: right;
}

/* Accueil */
section#home-banner {
    background-color: #e7cfcf;
}

section#creations {
    background-color: #f7e5e54d;
}

.absolute {
    position: absolute;
}

.right-12 {
    right: 12px;
}

section#contact .contact-title {
    font-size: 56px ;
    font-weight: 500 ;
}

section.cours-de-couture img.wow.scaleOutIn {
    width: 1500px;
    height: 844px;
}

img.image-fullwidth.relative.large {
    width: 630px;
    height: 370px;
}

/* retouches */
section#retouches-banner {
    background-color: #F7E7E74D;
}

section#retouches-sect-2 img {
    width: 558px;
    height: 448px;
}

section#retouches {
    background-color: #F7E7E74D;
}

/* creations */
section#creation-banner {
    max-height: 620px;
    background-color: #e7cfcf;
}

section#creations-sect-2 img {
    width: 453px;
    height: 453px;
}

section#creation-sect-3 img {
    height: 308px;
}

section#creation-separator {
    height: 232px;
    /* background-image: url('../images/home/motifs-bg.jpeg'); */
    background-color: #ecdada;
}

section#last img {
    height: 462px;
}

/* Atelier zero dechet */
section#atelier-banner {
    background-color: #f8f0f0;
    max-height: 963px;
    margin-bottom: 650px;
}

section#atelier-sect-3 img {
    height: 611px;
}

section#atelier-last img {
    height: 416px;
}

section#atelier-last img.first {
    margin-bottom: 20px;
}